.cal{
    width: 20rem;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0%;
}

.cal table{
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

}


.btn{
    font-size: 30px;
    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.445);
    border: black solid;
    border-radius: 5px;
    color: white;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.541); 
}

.input_text{
    text-align: right;
    width: 96%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    font-size: 30px;
    border: black solid;
    border-radius: 5px;
}

body{
    background-color: dodgerblue;
    background-image: linear-gradient(180deg,#0080ff5d,#ff0000);
    background-attachment: fixed;
}
    
